
<tr>
		<td>            </td>
		<td><%= link_to "#{link.url}", link.url %></td>
		<td><%= link.created_at.strftime("%-m/%-d/%-y")%></td>	
		<td><%= link_to "www.xyz.kz/" + "#{link.short}", link.url%></td>
		<td><%= link.count%></td>

</tr>
