<div class = "container">
<h1>XYZ2</h1>

<%=form_for :link, url: create_path, method: :post, remote: true do |f|%>
	<%= f.text_field :url, required: true%>
	<%= f.submit :submit%>
<%end%>
<table class = "table">
	<th>

		<td>Original URL </td>
		<td> Created at</td>
		<td> Short</td>
		<td> Count</td>	
	
	</th>
	<tbody>
 	
	<%render @links %>	
		
	</tbody>
</table>
</div>